* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    background-color: rgb(88, 10, 32);
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    display: flex;
    align-items: center;
    gap: 160px;
}

header img {
    width: 55px;
    border-radius: 12px;
}

nav {
    display: flex;
    gap: 70px;
}

nav a button {
    background-color: transparent;
    border: none;
    color: #F4D35E;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease;
}

nav a button:hover {
    color: #C1121F;
}

/* CONTENIDO */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding: 40px 45px;
    border-radius: 20px;
    width: 360px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group img {
    width: 80px;
    margin: 0 auto 20px;
}

label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
}

input,
textarea {
    padding: 15px 20px;
    border-radius: 20px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    outline: none;
}

.btn {
    background-color: #F4D35E;
    border: none;
    font-size: 16px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #C1121F;
    color: white;
}
footer {
    background-color: #581020;
    color: #F4D35E;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}