* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', 'Segoe UI', sans-serif;
}

body {
    background-color:#FAF3E0;
}

header {
    background-color:  #581020;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 140px;
}

.logo {
    width: 75px;
    border-radius: 25px;
}

nav {
    display: flex;
    gap: 60px;
}

nav a,
button {
    background: transparent;
    border: none;
    color:#F4D35E;;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.4s;
}

nav a:hover,
button:hover {
    color:  #C1121F;
}

.carousel {
    width: 80%;
    margin: 50px auto;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    gap: 40px;
    animation: slide 14s linear infinite;
}

.carousel-track img {
    width: 260px;
    border-radius: 20px;
}

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
    margin: 60px 40px;
}

.card {
    background: white;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.card img {
    width: 180px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 15px;
}

.card-btn {
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    color: black;
    background: transparent;
    transition: color 0.4s;
}

.card-btn:hover {
    color: rgb(88, 10, 32);
}


footer {
    background-color: #581020;
    color: #F4D35E;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}